.vs
.idea
ipch
Release
Debug
Backup
/CoboldPC2002/CDan.opensdf
/CoboldPC2002/CDan.sdf
/CoboldPC2002/CDan.sln
/CoboldPC2002/CDan.vcxproj
CoboldPC2002/Build
include/Analysis/MainForExample.cpp
include/Analysis/parameters.json
